<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @result.user %>
</p>

<p>
  <strong>Test:</strong>
  <%= @result.test %>
</p>

<p>
  <strong>R:</strong>
  <%= @result.r %>
</p>

<p>
  <strong>Rq:</strong>
  <%= @result.rq %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
