<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.collection_select(:question_id,Question.all,:id,:name)%>
  </div>
  <div class="field">
    <%= f.label :choice %><br>
    <%= f.text_field :choice %>
  </div>
  <div class="field">
    <%= f.label :c %><br>
    <%= f.check_box :c %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
